body {
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
    color: black;
    margin: 0px auto;
    margin-top: 30px;
    padding: 20px;
    width: 1000px;
    background-image: url(woodland.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.page-wrapper {
    background-color: #F7DCB4;
    border-radius: 16px;
    padding: 20px;

}
p {
    line-height: 21px;
}

h1 {
    color: #A97D5D;
    font-size: 2em;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    border-bottom: 4px solid;
    border-color: #9C9F84;
}

h2 {
    color: #9C9F84;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
    text-align: center;
}

h3 {
    color: #A97D5D;
    font-size: 1.25em;
}

a {
    text-decoration: none;
    color: #9C9F84;
}
a:hover { 
    text-decoration: underline;
 }

p {
    position: relative;
}

footer {
    float: left;
    margin-top: 30px;
    width: 60%
}

#zen-intro {
    text-align: center;
}

#zen-summary {
    width:50%;
    text-align: justified;
    margin: 0px auto;
    margin-top: 14px;
    padding: 1px 10px 1px 10px;
    
}
#zen-summary p:last-child{
    width:100%;
    text-align: justified;
    margin: 0px auto;
    margin-top: 14px;
    border: 4px;
    border-radius: 8px;
    padding: 1px 10px 1px 10px;
    background-color: #A97D5D;
}

#zen-preamble {
    float: left;
    width:50%;
    margin: 0px auto;
    margin-top: 14px;
    padding: 10px 10px 10px 10px;
    text-align: left;
}

#zen-explanation {
    float: right;
    width:40%;
    margin: 0px auto;
    margin-top: 14px;
    padding: 10px 10px 10px 10px;
    border: 4px solid;
    border-radius: 8px;
    border-color:#9C9F84;
    text-align: justify;
}

#zen-participation {
    float: center;
    width: 100%;
    margin: 0px auto;
    margin-top: 14px;
    padding: 10px 10px 10px 10px;
}

#design-selection {
    float:left;
    width: 40%;
    background-color: #F7DCB4;
    border-radius: 16px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
} 

#design-archives {
    float:left;
    width: 23%;
    background-color: #F7DCB4;
    border-radius: 16px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
} 

#zen-resources {
    float:left;
    width: 22%;
    background-color: #F7DCB4;
    border-radius: 16px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
}

